@import "reset"
@import "footer"

@mixin btn
  background-color: aqua
  padding: 12px 15px
  border-radius: 4px



.header
  border-bottom: 1px solid rgba(196, 140, 140, 0.2)

.container
  width: 1400px
  margin-left: auto
  margin-right: auto
  padding-bottom: 15px
  padding-top: 15px
  display: flex
  align-items: center
  color: #000000

  a
    transition: color 0.200s ease
  a:hover
    color: aqua

  .logo
    width: 50px

  nav
    margin-left: 200px

  ul
    list-style-type: none
    display: flex
    li:not(:last-child)
      margin-right: 60px

  .log_in
    margin-left: auto
    * + *
      margin-left: 15px

  .btn
    display: inline-block
    @include btn
    transition: transform 0.3s

  .btn:hover
    transform: scale(1.07)